body {
    margin: 0; padding: 0;
}

#main-header {
    margin: 0.5em 0.75em 0.75em 0.75em;
    
    font-family: Cooper Black;
    font-weight: bold;
    font-size: 28pt;
    cursor: pointer;
    
    user-select: none;
}

#main-header > img {
    display: inline-block;
    
    width: 36px; height: 36px;
    margin-left: 0.5em;
    
    vertical-align: bottom;
    
    border-bottom: 1px solid black;
}

#control-container {
    margin: 1em 0.75em;
}

#control-container > button {
    margin: 0 0.5em; padding: 0.25em 0.75em 0.25em 0.5em;
    
    font-family: Bookman Old Style;
    font-size: 12pt;
    cursor: pointer;
    
    background: none;
    outline: none;
    border: 3px double rgba(200,200,200,0.75);
    
    transition: background 0.1s linear;
}

#control-container > button:hover {
    background: rgba(200,200,200,0.5);
    border: 3px solid rgba(200,200,200,0.75);
}

#control-container > button > img {
    width: 16px;
    margin-right: 0.25em;
    
    vertical-align: middle;
}

#control-container > button > span {
    vertical-align: middle;
}

#no-lists-message {
    margin: 1em 1.25em;
    
    font-family: Bookman Old Style;
    font-size: 14pt;
}

#lists-container {
    margin: 1em 0.75em;
    
    word-spacing: -0.25em;
    white-space: nowrap;
}

#lists-container > div {
    display: inline-block; position: relative;
    width: 250px; height: auto;
    margin: 0 0.5em; padding: 0.5em 0.75em;
    
    vertical-align: top;
    white-space: normal;
    word-spacing: 0;
    font-size: 10.5pt;
    
    border: 3px double rgba(200,200,200,0.75);
	
    /* These are technically the same, but use all three */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#lists-container > div:last-of-type {
    margin-right: 1.25em;
}

#lists-container > div > header {
    margin-bottom: 0.5em;
    
    font-size: 16pt;
    
    border-bottom: 1px solid black;
}

.list-control-container {
    position: absolute;
    top: 0; right: 0;
    
    margin: 0.5em 0.25em;
}

.list-control-container > button {
    background: none; border: none;
    outline: none;
    opacity: 0.15;
    cursor: pointer;
    
    transition: opacity 0.1s linear;
}

.list-control-container > button:hover {
    opacity: 1;
}

.list-control-container > button > img {
    width: 16px;
}

.no-tasks-message {
	font-family: Bookman Old Style;
	font-size: 11pt;
}

#lists-container > div > ul {
    margin: 0; padding: 0;
    
    list-style-position: inside;
    list-style-type: none;
}

#lists-container > div > ul > li {
    margin: 0 0 0.5em 0; padding: 0.25em 0.5em 0.15em 0.5em;
    position: relative;
    min-height: 45px;
    
    font-family: Bookman Old Style;
    line-height: 135%;
    
    border: 1px solid rgba(200,200,200,0.75);
    cursor: pointer;
}

#lists-container > div > ul > li > span {
    display: block;
    
    font-size: 10pt;
}

#lists-container > div > ul > li > span:first-of-type {
	font-size: 11pt;
}

#lists-container > div > ul > li > span:nth-of-type(2) {
    margin-top: 0.5em;
}

#lists-container > div > ul > li > button {
    position: absolute; top: 0; right: 0;
    min-width: 30px; height: 100%;
    
    background: rgba(255,0,0,0.25);
    outline: none;
    border: none;
    border-left: 1px solid rgba(200,200,200,0.75);
    cursor: pointer;
    opacity: 0;
    
    transition: opacity 0.15s linear;
}

#lists-container > div > ul > li > button > img {
    width: 16px;
}

#lists-container > div > ul > li > button:hover {
    opacity: 1;
}

.task-done {
	background-color: rgba(100,225,100,0.1);
}

.task-failed {
    background-color: rgba(225,100,100,0.1);
    cursor: default !important;
}

/******************/

.shadow {
    display: none; position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    
    justify-content: center;
    align-items: center;
    
    background: rgba(50,50,50,0.75);
}

.shadow > div {
    margin: 0; padding: 0.75em 0.75em 0.25em 0.75em;
    
    font-size: 10.5pt;
    
    border: 3px double rgba(100,100,100,0.75);
    background: white;
}

.shadow > div > header {
    margin-bottom: 0.75em;
    
    font-size: 16pt;
    
    border-bottom: 1px solid black;
}

.shadow > div > div {
    margin-bottom: 0.5em;
    
    font-family: Bookman Old Style;
    word-spacing: 0.05em;
    text-align: right;
    font-weight: bold;
}

.shadow > div > div:last-of-type {
	max-width: 400px;
	
    font-weight: normal;
    color: red;
}

.shadow > div > div > input[type=text] {
    display: inline-block;
    margin-left: 0.5em;
    min-width: 250px;
    
    font-weight: normal;
    text-align: left;
    outline: none;
}

.shadow > div > div > div {
    display: inline-block;
    margin-left: 0.5em;
    min-width: 254px;
    
    font-weight: normal;
    text-align: left;
    outline: none;
}

.shadow button {
    margin-left: 0.5em; padding: 0.25em 0.5em;
    
    font-family: Bookman Old Style;
    font-size: 11pt;
    cursor: pointer;
    
    background: none;
    outline: none;
    border: 1px solid gray;
}

.shadow button:hover {
    background: rgba(200,200,200,0.5);
}
