@font-face {
    font-family: Shardee;
    src: url(../fonts/shardee.otf);
}

@font-face {
    font-family: LainyDay;
    src: url(../fonts/LainyDay.ttf);
}

@font-face {
    font-family: Ribbon131;
    src: url(../fonts/Ribbon131.otf);
}

@font-face {
    font-family: DRAgu;
    src: url(../fonts/DRAgu.ttf);
}

@font-face {
    font-family: Mont;
    src: url(../fonts/Mont.ttf);
}

@font-face {
    font-family: Zero5;
    src: url(../fonts/Zero5.otf);
}