@import url(fonts.css);

body {
	margin: 0;
}

.top-page-header {
	position     : relative;
	margin-bottom: 0.5em;
	
	font-family: DRAgu;
	font-size  : 24pt;
}

.top-page-header-background {
	height  : 80px;
	position: absolute;
    display : block;
    top     : 0;
    right   : 0;
    left    : 0;
    z-index : 0;
    
    background-image: url(../gfx/index-background-2.jpg);
    background-size : cover;
    filter          : blur(1.5px) opacity(25%) grayscale(.15) contrast(135%);
}

.top-page-header-cover {
    position: relative;
    padding : 0.1em 0.3em 0.1em 0.5em;
    z-index : 1;
    
    font-weight: bold;
    color      : #1a4050;
}

.top-page-header-cover > img {
	max-height    : 64px;
	margin-right  : 0.5em;
	vertical-align: middle;
}

.two-columns-block {
	display: flex;
	
	justify-content: flex-start;
	align-items    : flex-start;
	
	font-family: Zero5;
}

.guest-block {
	margin : 0 2.5em 0 0.5em;
	padding: 0.15em 0.75em;
}

.form {
	min-width: 240px;
}

.form-line {
	display: flex;
    
    justify-content: space-between;
    align-items    : flex-start;
}

.form-line input,
.form-line select {
	max-width: 115px;
    margin   : 0 0 0 0.75em;
}

.form-line button {
	padding: 2pt 4pt;
	cursor : pointer;
	
	border     : 1px dashed darkgray;
	outline    : none;
	background : none;
    font-family: Zero5;
}

.form-line button:hover {
	border : 1px solid darkgray;
}

.good-item-line {
	display  : flex;
	max-width: 70%;
	margin   : 1em 0 0.5em 0;
}

.good-item-line h3 {
	margin   : 0.175em 0 0.15em 0;
}

.good-item-line h3 + p {
	margin: 0.25em 0 0.15em 0;
	
	font-size: 12pt;
    color    : gray;
}

.good-item-line img {
	margin        : 0.25em 0.75em 0 0;
	max-height    : 32px;
	vertical-align: middle;
}

.good-item-price {
	min-width: 135px;
    margin   : 0 1.25em 0 0;
    
    text-align : left;
    font-weight: bold;
}