@import url(fonts.css);

html {
    height: 100%;
}

body {
    min-height: 100%;
    display   : flex;
    margin    : 0;

    justify-content: space-around;
    align-items    : center;
    
    background-color: rgba(0,0,225,0.125);
}

.index-central-header {
    font-family: Ribbon131;
    font-size: 96pt;
    color: white;
}

.index-central-background {
	position: fixed;
	display : block;
	top     : 0;
	right   : 0;
	bottom  : 0;
	left    : 0;
	z-index : 0;
	
    background-image: url(../gfx/index-background-2.jpg);
    background-size : cover;
    filter          : blur(0.5px) opacity(85%) grayscale(.15) contrast(125%);
}

.index-central-title {
	position: relative;
	padding : 0.1em 0.3em 0.1em 0.5em;
	z-index : 1;
	
    font-family   : Ribbon131;
    font-size     : 96pt;
    word-spacing  : 10pt;
	color         : #dbe9f0;
    text-shadow   : 2px 2px 24px #2a3c44;
    
    background-color: rgba(255,255,255,0.35);
    box-shadow      : 0 0 5em 0.5em rgba(255,255,255,0.25);
    border          : 1px dashed rgba(255,255,255,0.75);
    border-radius   : 16px;
}

.order-button {
	position: absolute;
	bottom  : 15%;
	z-index : 2;
}

.order-button-title {
	padding: 0.25em 1.25em;
	margin : 0;
	
	font-family   : DRAgu;
    font-size     : 28pt;
    word-spacing  : 2.5pt;
    letter-spacing: 1.5pt;
    color         : #1a4050;
    text-shadow   : 2px 2px 24px #8ebbce;
    
    background-color: rgba(255,255,255,0.75);
    border-radius   : 8px;
}

.order-button-link {
	text-decoration: none;
	color          : inherit;
}